<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestor de Incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="centered-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Esta herramienta permite informar desperfectos y problemas de mantenimiento de forma rápida.
        Podrás capturar una foto del problema y registrar automáticamente tu ubicación geográfica
        para una resolución eficiente.
      </ion-card-content>
    </ion-card>

    <div class="buttons">
      <ion-button expand="block" routerLink="/alta-incidencia" class="small-centered-button">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Nueva Incidencia
      </ion-button>

      <ion-button expand="block" routerLink="/listado-incidencias" class="small-centered-button">
        <ion-icon name="list-outline" slot="start"></ion-icon>
        Ver Listado
      </ion-button>
    </div>
  </div>
</ion-content>